<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="DBConnectionOracle"
      connectionString="Data Source=orcl;User ID=hr;Password=hr;Integrated Security=True"
      providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
